body {
  font-family: Calibri, sans-serif;
  position: relative;
}

.expHead {
  text-transform: uppercase;
}

.date {
  font-style: italic;
}

.entry {
  transition: border-radius 1s;
}

.skills ul li {
  padding: 5px;
  transition: border-radius 0.25s;
}

.skills ul li:hover {
  background-color: rgb(226, 240, 255);
  border-radius: 1rem;
}

.entry:hover {
  background-color: rgb(226, 240, 255);
  transform: scale(1.01);
  border-radius: 0px 100px 0px 0px;
}

.expHead {
  border-top: 1px solid rgb(92, 154, 216);
  padding-top: 0.8rem;
}

.name {
  text-align: center;
  color: rgb(255, 255, 255);
  margin-top: 40px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)),
    url(https://i.pinimg.com/736x/0f/f8/24/0ff824b6d8a94cba3a2c3f9c6f4771b0.jpg);
  transform: scale(1.05);
}

.list-inline {
  text-align: center;
}

#mainNavbar {
  background-color: rgb(226, 240, 255);
}

img {
  transform: scale(0.5);
}
